<h1 class="title">Manage Users</h1>
<div class="flex-container-col align-center full-width">
    <div class="grid-div half-width">
        <ag-grid-angular
            class="ag-theme-material full-height full-width"
            (gridReady)="this.onGridReady($event)"
            (selectionChanged)="this.onGridSelectionChanged($event)"
            [rowSelection]="'multiple'"
            [rowMultiSelectWithClick]="true"
            [rowData]="this.userList"
            [columnDefs]="this.gridColumnDefs"
        >
        </ag-grid-angular>
    </div>
    <div class="flex-container-row align-center">
        <label>{{this.selectedList.length}} selected</label>
        <span class="spacer"></span>
        <button mat-raised-button [disabled]="this.disableNormal" [style]="this.themesService.getButtonPrimaryStyles()" (click)="this.giveNormal()">
            <img src="./assets/icons/icons8-chevron-down-50.png" class="embeddedIcon">Give Normal Permissions
        </button>
        <span class="spacer"></span>
        <button mat-raised-button [disabled]="this.disableAdmin" [style]="this.themesService.getButtonAccentStyles()" (click)="this.giveAdmin()">
            <img src="./assets/icons/icons8-chevron-up-50.png" class="embeddedIcon">Give Admin Permissions
        </button>
        <span class="spacer"></span>
        <button mat-raised-button [disabled]="this.disableDelete" [style]="this.themesService.getButtonWarnStyles()" (click)="this.deleteUsers()">
            <img src="./assets/icons/icons8-trash-can-50.png" class="embeddedIcon">Delete
        </button>
    </div>
</div>
