<ng-container *ngIf="this.authService.getCurrentUser() && !this.authService.getCurrentUser().isGuest">
    <h1 class="title">My Account - {{this.authService.getCurrentUser().isAdmin ? 'Admin User' : 'Normal User'}}</h1>
    <div>
        <mat-form-field class="half-width">
            <input matInput placeholder="Email" [formControl]="this.emailControl">
        </mat-form-field>
    </div>
    <button mat-raised-button [disabled]="this.authService.getCurrentUser().isExternal" [style]="this.themesService.getButtonAccentStyles()" (click)="this.toggleChangePassword()">{{this.showChangePassword ? 'Cancel' : 'Change Password'}}</button>
    <div [hidden]="!this.showChangePassword" class="padded-top">
        <mat-form-field class="half-width">
            <input matInput placeholder="New Password" type="password" [formControl]="this.passwordControl">
        </mat-form-field>
        <mat-form-field class="half-width">
            <input matInput placeholder="Confirm New Password" type="password" [formControl]="this.passwordConfirmControl">
        </mat-form-field>
    </div>
    <div class="flex-container-row padded-top">
        <button mat-raised-button (click)="this.save()" [style]="this.themesService.getButtonPrimaryStyles()"
                [disabled]="this.form.invalid || !this.form.dirty || this.authService.getCurrentUser().isExternal">
            <img src="./assets/icons/icons8-save-as-50.png" class="embeddedIcon" [style]="this.themesService.getIconPrimaryStyles()">Save
        </button>
        <span class="spacer"></span>
        <button mat-raised-button (click)="this.deleteAccount()" [style]="this.themesService.getButtonWarnStyles()" matTooltip="Delete user account and all request data associated with it">
            <img src="./assets/icons/icons8-trash-can-50.png" class="embeddedIcon" [style]="this.themesService.getIconWarnStyles()">Delete Account
        </button>
        <span [hidden]="!this.form.dirty" [style]="this.themesService.getDirtyNoteStyles()" class="{{this.themesService.getDirtyNoteClasses()}}">
            <img src="./assets/icons/icons8-exclamation-mark-50.png" class="embeddedIcon" [style]="this.themesService.getIconDirtyNoteStyles()">{{this.constantsService.DIRTY_NOTE_MESSAGE}}
        </span>
    </div>
</ng-container>
