<button mat-button (click)="this.showAppPicker()">Pick Application</button>
<ng-container *ngIf="this.config && this.application">
    <form [formGroup]="this.form" class="flex-container-col full-width margin-bottom">
        <h1 class="title">New Request</h1>
        <ng-container *ngFor="let param of this.currentParameters; let i = index">
            <div [ngSwitch]="param.type" class="full-width flex-container-row margin-bottom align-center">
                <mat-checkbox *ngSwitchCase="this.configuratorService.TYPE_FLAG" class="half-width"
                              [formControlName]="param.name">{{param.name}}</mat-checkbox>
                <mat-form-field *ngSwitchCase="this.configuratorService.TYPE_STRING" class="half-width">
                    <input matInput placeholder="{{param.name}}" [formControlName]="param.name">
                </mat-form-field>
                <mat-form-field *ngSwitchCase="this.configuratorService.TYPE_INTEGER" class="half-width">
                    <input matInput type="number" placeholder="{{param.name}}" [formControlName]="param.name">
                </mat-form-field>
                <mat-form-field *ngSwitchCase="this.configuratorService.TYPE_FLOAT" class="half-width">
                    <input matInput type="number" placeholder="{{param.name}}" [formControlName]="param.name">
                </mat-form-field>
                <mat-form-field *ngSwitchCase="this.configuratorService.TYPE_SELECT" class="half-width">
                    <mat-select placeholder="{{param.name}}" [formControlName]="param.name" (change)="this.onSelectParamChange(param, i)">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let opt of param.selectOptions" [value]="opt">{{opt}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <span *ngIf="param.toolTip" matTooltip="{{param.toolTip}}" [matTooltipPosition]="'above'" class="margin-left">
                    <img src="./assets/icons/icons8-info-popup-50.png" class="embeddedIconNoMargin">
                </span>
                <div *ngFor="let validator of param.validators">
                    <span class="margin-left" *ngIf="validator.message && this.form.controls[param.name].hasError(validator.validatorType)">*{{validator.message}}</span>
                </div>
            </div>
        </ng-container>
        <button mat-raised-button [style]="this.themesService.getButtonPrimaryStyles()" [disabled]="this.form.invalid" (click)="this.submit()">
            <img src="./assets/icons/icons8-upload-to-cloud-50.png" class="embeddedIcon">Submit
        </button>
    </form>
</ng-container>
