<div>
  <ng-container *ngIf="this.config">
    <form>
      <ng-container  *ngFor="let component of configComponents">
        <mat-form-field>
            <label [attr.for]="component"></label>
            <ng-container [ngSwitch]="prop.type">
              <input *ngSwitchCase="'text'"
              [formControlName]="prop.key"
              [id]="prop.key" [type]="prop.type">
            </ng-container>
        </mat-form-field>
      </ng-container>
      <button type="submit">Submit</button>
    </form>
  </ng-container>
</div>
