<ng-container *ngIf="this.authService.getCurrentUser() && this.authService.getCurrentUser().isAdmin">
    <h1 class="title">Theme</h1>
    <form [formGroup]="this.form" class="margin-bottom">
        <div class="margin-bottom">
            <mat-form-field class="margin-right">
                <mat-select placeholder="Select Theme" (change)="selectTheme($event)">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let theme of this.themesService.THEMES" [value]="theme">
                        {{theme.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Name" [formControlName]="'name'">
            </mat-form-field>
        </div>
        <div class="flex-container-row flex-wrap">
            <div class="padded">
                <label>Primary</label>
                <input class="preview" [style]="this.themesService.getBackgroundColorFromColor(this.form.controls['primary'].value, this.form.controls['invertPrimary'].value)"
                       [colorPicker]="this.form.controls['primary'].value" [cpOutputFormat]="'hex'" [value]="this.form.controls['primary'].value"
                       (colorPickerChange)="this.onColorChange('primary', $event)"/>
                <mat-checkbox [formControlName]="'invertPrimary'">Invert text/icon</mat-checkbox>
            </div>
            <div class="padded">
                <label>Accent</label>
                <input class="preview" [style]="this.themesService.getBackgroundColorFromColor(this.form.controls['accent'].value, this.form.controls['invertAccent'].value)"
                       [colorPicker]="this.form.controls['accent'].value" [cpOutputFormat]="'hex'" [value]="this.form.controls['accent'].value"
                       (colorPickerChange)="this.onColorChange('accent', $event)"/>
                <mat-checkbox [formControlName]="'invertAccent'">Invert text/icon</mat-checkbox>
            </div>
            <div class="padded">
                <label>Warn</label>
                <input class="preview" [style]="this.themesService.getBackgroundColorFromColor(this.form.controls['warn'].value, this.form.controls['invertWarn'].value)"
                       [colorPicker]="this.form.controls['warn'].value" [cpOutputFormat]="'hex'" [value]="this.form.controls['warn'].value"
                       (colorPickerChange)="this.onColorChange('warn', $event)"/>
                <mat-checkbox [formControlName]="'invertWarn'">Invert text/icon</mat-checkbox>
            </div>
        </div>
    </form>
    <div class="margin-bottom">
        <button mat-raised-button (click)="this.toggleFullPreview()" [style]="this.themesService.getButtonAccentStyles()">
            <img src="./assets/icons/icons8-search-50.png" class="embeddedIcon" [style]="this.themesService.getIconAccentStyles()">{{this.showFullPreview ? 'Hide' : 'Show'}} Preview
        </button>
    </div>
    <div [hidden]="!this.showFullPreview">
        <h1 class="title"><b>Preview:</b></h1>
        <hr/>
        <div class="flex-container-col full-width margin-bottom">
            <h1 class="title">New Request</h1>
            <ng-container>
                <div class="full-width flex-container-row margin-bottom align-center">
                    <div class="full-width flex-container-row margin-bottom align-center">
                        <mat-checkbox class="half-width">Checkbox</mat-checkbox>
                        <mat-form-field class="half-width">
                            <mat-select placeholder="Parameter">
                                <mat-option [value]="'Opt1'">Opt1</mat-option>
                                <mat-option [value]="'Opt2'">Opt2</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </ng-container>
            <button mat-raised-button [style]="this.themesService.getBackgroundColorFromColor(this.form.controls['primary'].value, this.form.controls['invertPrimary'].value)">
                <img src="./assets/icons/icons8-upload-to-cloud-50.png" class="embeddedIcon" [style]="this.themesService.getInvertIconStyles(this.form.controls['invertPrimary'].value)">Submit
            </button>
        </div>
        <div>
            <h1 class="title">Results</h1>
            <label>System Out:</label>
            <pre>Example system out</pre>
            <div>
                <h2 class="subtitle">Result File(s)</h2>
                <button mat-button matTooltip="Example tooltip">
                    <img src="./assets/icons/icons8-download-50.png" class="embeddedIcon">Results File Name
                </button>
            </div>
        </div>
        <hr/>
    </div>
    <div class="flex-container-row padded-top margin-top">
        <button mat-raised-button (click)="this.save()" [style]="this.themesService.getButtonPrimaryStyles()"
                [disabled]="this.form.invalid || !this.form.dirty || !this.config">
            <img src="./assets/icons/icons8-save-as-50.png" class="embeddedIcon" [style]="this.themesService.getIconPrimaryStyles()">Save
        </button>
        <span class="spacer"></span>
        <span [hidden]="!this.form.dirty" [style]="this.themesService.getDirtyNoteStyles()" class="{{this.themesService.getDirtyNoteClasses()}}">
            <img src="./assets/icons/icons8-exclamation-mark-50.png" class="embeddedIcon" [style]="this.themesService.getIconDirtyNoteStyles()">{{this.constantsService.DIRTY_NOTE_MESSAGE}}
        </span>
    </div>
</ng-container>
