<h1 mat-dialog-title>Application Picker</h1>
<mat-dialog-content>
    <ng-container *ngIf="this.config && this.config.applications">
        <div *ngFor="let app of this.config.applications">
            <button mat-button (click)="this.submit(app)">{{app.name}}</button>
        </div>
    </ng-container>
    <button mat-raised-button [style]="this.themesService.getButtonAccentStyles()" *ngIf="this.showAdder" (click)="this.submit(null)">
        <img src="./assets/icons/icons8-plus-50.png" class="embeddedIcon" [style]="this.themesService.getIconAccentStyles()">Add New Application
    </button>
</mat-dialog-content>
