<div class="full-height full-width flex-container-col">
    <h1>Execution</h1>
    <h2>Command</h2>
    <div *ngIf="this.config">
        <mat-form-field>
            <input matInput placeholder="Command" [(ngModel)]="this.command">
        </mat-form-field>
    </div>
    <h2>Parameters</h2>
    <ng-container *ngIf="this.config">
        <form [formGroup]="this.form" class="flex-container-col">
            <div *ngFor="let parameter of this.parameterPlaceholders" class="flex-container-row">
                <mat-form-field class="margin-right">
                    <input matInput placeholder="Name" [formControlName]="parameter.nameKey">
                </mat-form-field>
                <mat-form-field class="margin-right">
                    <mat-select placeholder="Type" [formControlName]="parameter.typeKey">
                        <mat-option *ngFor="let type of this.configuratorService.getParameterTypes()" [value]="type">
                            {{type}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="margin-right">
                    <input matInput placeholder="Code" [formControlName]="parameter.codeKey">
                </mat-form-field>
                <mat-form-field class="margin-right">
                    <input matInput type="number" placeholder="Sort Order" [formControlName]="parameter.sortOrderKey">
                </mat-form-field>
                <button mat-button (click)="this.deleteParameter(parameter)">Delete</button>
            </div>
        </form>
        <button mat-button (click)="this.addParameter()">Add</button>
    </ng-container>
    <div class="flex-container-row">
        <button mat-button (click)="this.save()">Save</button>
        <span *ngIf="this.form.dirty" class="dirty-note">{{this.constantsService.DIRTY_NOTE_MESSAGE}}</span>
    </div>
</div>
