<ng-container *ngIf="this.config">
    <form [formGroup]="this.form" class="flex-container-col">
        <h1 class="title">Users</h1>
        <div class="padding-bottom">
            <mat-checkbox [formControlName]="'allowGuestMode'">Enable Guest Mode</mat-checkbox>
            <span matTooltip="When guest mode is enabled, users can submit requests and view data without logging in. They have limited privilege and their results expire after one day"
                  [matTooltipPosition]="'right'">
                    <img src="./assets/icons/icons8-info-popup-50.png" class="embeddedIconNoMargin">
            </span>
        </div>
        <div class="padding-bottom">
            <mat-checkbox [formControlName]="'allowGoogleLogin'">Enable Google Third-Party Authentication</mat-checkbox>
            <span matTooltip="Allows users to log in with their Google account"
                  [matTooltipPosition]="'right'">
                    <img src="./assets/icons/icons8-info-popup-50.png" class="embeddedIconNoMargin">
            </span>
        </div>
        <div class="padding-bottom">
            <mat-checkbox [formControlName]="'allowGithubLogin'">Enable Github Third-Party Authentication</mat-checkbox>
            <span matTooltip="Allows users to log in with their Github account"
                  [matTooltipPosition]="'right'">
                    <img src="./assets/icons/icons8-info-popup-50.png" class="embeddedIconNoMargin">
            </span>
        </div>
        <div class="padding-bottom">
            <mat-form-field>
                <input matInput type="number" placeholder="Data Lifespan" [formControlName]="'resultLifespan'">
            </mat-form-field>
            <span matTooltip="The lifespan of user submitted requests (in days). Expired data can be deleted via the Results screen. NOTE: A value of 0 means data will never expire"
                  [matTooltipPosition]="'right'">
                    <img src="./assets/icons/icons8-info-popup-50.png" class="embeddedIconNoMargin">
            </span>
        </div>
        <div class="padding-bottom">
            <mat-form-field>
                <input matInput type="number" placeholder="User Storage Limit" [formControlName]="'userStorageLimit'">
            </mat-form-field>
            <span matTooltip="Users will be unable to submit a new request if the storage size (in bytes) of all their existing requests exceeds this limit. NOTE: A value of 0 means no limit is imposed"
                  [matTooltipPosition]="'right'">
                    <img src="./assets/icons/icons8-info-popup-50.png" class="embeddedIconNoMargin">
            </span>
        </div>
        <div class="flex-container-row">
            <button mat-raised-button color="primary" [disabled]="this.form.invalid" (click)="this.save()"><img src="./assets/icons/icons8-save-as-50.png" class="embeddedIcon">Save</button>
            <span *ngIf="this.form.dirty" class="dirty-note"><img src="./assets/icons/icons8-exclamation-mark-50.png" class="embeddedIcon">{{this.constantsService.DIRTY_NOTE_MESSAGE}}</span>
        </div>
    </form>
</ng-container>
