<ng-container *ngIf="this.config">
    <form [formGroup]="this.form" class="flex-container-col full-width margin-bottom">
        <h1 class="title">Execution</h1>
        <h2 class="subtitle">Command</h2>
        <mat-form-field>
            <input matInput placeholder="Command" [formControlName]="'command'">
        </mat-form-field>
        <h2 class="subtitle">Parameters</h2>
        <div *ngFor="let parameter of this.parameterPlaceholders" class="flex-container-col full-width margin-bottom">
            <div class="flex-container-row full-width">
                <mat-form-field class="margin-right flex-two">
                    <input matInput placeholder="Name" [formControlName]="parameter.nameKey">
                </mat-form-field>
                <mat-form-field class="margin-right flex-two">
                    <mat-select placeholder="Type" [formControlName]="parameter.typeKey">
                        <mat-option *ngFor="let type of this.configuratorService.getParameterTypes()" [value]="type">
                            {{type}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="margin-right flex-two">
                    <input matInput placeholder="Code" [formControlName]="parameter.codeKey">
                </mat-form-field>
                <mat-form-field class="margin-right flex-two">
                    <input matInput type="number" placeholder="Sort Order" [formControlName]="parameter.sortOrderKey">
                </mat-form-field>
                <button mat-raised-button color="warn" class="flex-one" (click)="this.deleteParameter(parameter)">Delete</button>
            </div>
            <div class="flex-container-row full-width">
                <mat-form-field class="half-width margin-right">
                    <input matInput placeholder="Description" [formControlName]="parameter.toolTipKey">
                </mat-form-field>
                <button mat-raised-button (click)="this.openValidatorsDialog(parameter)">Validation</button>
                <span *ngIf="parameter.validators.length > 0">Validation Present</span>
            </div>
        </div>
        <button mat-raised-button color="accent" (click)="this.addParameter()">Add</button>
        <div class="flex-container-row margin-top">
            <button mat-raised-button color="primary" (click)="this.save()">Save</button>
            <span *ngIf="this.form.dirty" class="dirty-note">{{this.constantsService.DIRTY_NOTE_MESSAGE}}</span>
        </div>
    </form>
</ng-container>
