<button mat-button (click)="this.showAppPicker()">Pick Application</button>
<ng-container *ngIf="this.config && this.application">
    <form [formGroup]="this.form" class="flex-container-col full-width margin-bottom">
        <h1 class="title">Execution</h1>
        <h2 class="subtitle">Application</h2>
        <mat-form-field>
            <input matInput placeholder="Name" [formControlName]="'applicationName'">
        </mat-form-field>
        <mat-accordion class="margin-bottom">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><img src="./assets/icons/icons8-console-50.png" class="embeddedIcon">Executables</mat-panel-title>
                    <mat-panel-description>Commands executed with user parameters</mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngFor="let group of this.commandGroups" class="flex-container-col full-width margin-bottom">
                    <div class="flex-container-row full-width">
                        <mat-form-field class="margin-right flex-three">
                            <input matInput placeholder="Command" [formControlName]="group.keyCommand">
                        </mat-form-field>
                        <div class="flex-one">
                            <button mat-raised-button color="warn" (click)="this.deleteCommandGroup(group)">
                                <img src="./assets/icons/icons8-trash-can-50.png" class="embeddedIcon">Delete Executable
                            </button>
                        </div>
                    </div>
                    <div *ngFor="let parameter of group.parameters" class="flex-container-col full-width margin-bottom">
                        <div class="flex-container-row full-width">
                            <mat-form-field class="margin-right flex-two">
                                <input matInput placeholder="Name" [formControlName]="parameter.keyName">
                            </mat-form-field>
                            <mat-form-field class="margin-right flex-two">
                                <mat-select placeholder="Type" [formControlName]="parameter.keyType" (change)="this.onTypeChange(parameter)">
                                    <mat-option *ngFor="let type of this.configuratorService.getParameterTypes()" [value]="type">
                                        {{type}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <button *ngIf="this.form.controls[parameter.keyType].value == this.configuratorService.TYPE_SELECT"
                                    mat-raised-button (click)="this.openOptionsDialog(parameter)">Options</button>
                            <mat-form-field class="margin-left margin-right flex-two">
                                <input matInput placeholder="Code" [formControlName]="parameter.keyCode">
                            </mat-form-field>
                            <mat-form-field class="margin-right flex-two">
                                <input matInput type="number" placeholder="Sort Order" [formControlName]="parameter.keySortOrder">
                            </mat-form-field>
                            <div class="flex-one">
                                <button mat-raised-button color="warn" (click)="this.deleteParameter(parameter, group)">
                                    <img src="./assets/icons/icons8-trash-can-50.png" class="embeddedIcon">Delete Parameter
                                </button>
                            </div>
                        </div>
                        <div class="flex-container-row full-width">
                            <mat-form-field class="half-width margin-right">
                                <input matInput placeholder="Description" [formControlName]="parameter.keyToolTip">
                            </mat-form-field>
                            <button mat-raised-button (click)="this.openValidatorsDialog(parameter)">Validation</button>
                        </div>
                    </div>
                    <div class="flex-container-row full-width justify-center">
                        <button mat-raised-button color="accent" (click)="this.addParameter(group)">
                            <img src="./assets/icons/icons8-plus-50.png" class="embeddedIcon">Add Parameter
                        </button>
                    </div>
                </div>
                <button mat-raised-button color="accent" (click)="this.addCommandGroup()"><img src="./assets/icons/icons8-plus-50.png" class="embeddedIcon">Add Executable</button>
            </mat-expansion-panel>
        </mat-accordion>
        <div class="flex-container-row margin-top justify-space-between">
            <div>
                <button mat-raised-button color="primary" (click)="this.save()"><img src="./assets/icons/icons8-save-as-50.png" class="embeddedIcon">Save</button>
                <span *ngIf="this.form.dirty" class="dirty-note"><img src="./assets/icons/icons8-exclamation-mark-50.png" class="embeddedIcon">{{this.constantsService.DIRTY_NOTE_MESSAGE}}</span>
            </div>
            <button mat-raised-button color="warn" (click)="this.deleteApplication()">
                <img src="./assets/icons/icons8-trash-can-50.png" class="embeddedIcon">Delete Application
            </button>
        </div>
    </form>
</ng-container>
