<ng-container *ngIf="this.config">
    <form [formGroup]="this.form" class="flex-container-col">
        <h1 class="title">Users</h1>
        <ng-container *ngFor="let setting of this.userSettingsArray">
            <div [ngSwitch]="setting.type" class="margin-bottom">
                <mat-checkbox *ngSwitchCase="this.configuratorService.TYPE_FLAG"
                              [formControlName]="setting.name">{{setting.name}}</mat-checkbox>
            </div>
        </ng-container>
        <div class="flex-container-row">
            <button mat-raised-button color="primary" (click)="this.save()"><img src="./assets/icons/icons8-save-as-50.png" class="embeddedIcon">Save</button>
            <span *ngIf="this.form.dirty" class="dirty-note"><img src="./assets/icons/icons8-exclamation-mark-50.png" class="embeddedIcon">{{this.constantsService.DIRTY_NOTE_MESSAGE}}</span>
        </div>
    </form>
</ng-container>
