<div *ngIf="!this.showCreateAccount" class="userFormContainer">
    <form [formGroup]="this.form" class="userForm">
        <mat-form-field>
            <input matInput autofocus id="loginEmail" placeholder="Email" [formControlName]="'email'">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password" type="password" [formControlName]="'password'">
        </mat-form-field>
        <div class="flex-container-row padding-bottom">
            <button mat-raised-button (click)="this.doLogIn()" [disabled]="this.form.invalid" [style]="this.themesService.getButtonPrimaryStyles()">
                <img src="./assets/icons/icons8-login-50.png" class="embeddedIcon" [style]="this.themesService.getIconPrimaryStyles()">Login
            </button>
            <span *ngIf="this.config?.allowGuestMode" class="spacer"></span>
            <button *ngIf="this.config?.allowGuestMode" mat-raised-button (click)="this.doGuestLogIn()">
                <img src="./assets/icons/icons8-login-50.png" class="embeddedIcon">Guest Login
            </button>
            <span *ngIf="this.config?.allowGithubLogin" class="spacer"></span>
            <button *ngIf="this.config?.allowGithubLogin" mat-raised-button (click)="this.startGithubLogIn()">
                <img src="./assets/icons/icons8-github-50.png" class="embeddedIcon">Github Login
            </button>
            <span *ngIf="this.config?.allowGoogleLogin" class="spacer"></span>
            <button *ngIf="this.config?.allowGoogleLogin" mat-raised-button (click)="this.startGoogleLogIn()">
                <img src="./assets/icons/icons8-google-50.png" class="embeddedIcon">Google Login
            </button>
        </div>
        <div>
            <button mat-raised-button (click)="this.toggleSignup()" [style]="this.themesService.getButtonAccentStyles()">
                <img src="./assets/icons/icons8-add-user-group-woman-man-50.png" class="embeddedIcon" [style]="this.themesService.getIconAccentStyles()">Create New Account
            </button>
        </div>
    </form>
</div>
<div *ngIf="this.showCreateAccount" class="padded">
    <button mat-raised-button (click)="this.toggleSignup()" [style]="this.themesService.getButtonAccentStyles()">
        <img src="./assets/icons/icons8-back-50.png" class="embeddedIcon" [style]="this.themesService.getIconAccentStyles()">Back to Sign In
    </button>
    <app-sign-up (accountCreated)="this.toggleSignup()"></app-sign-up>
</div>
