<div class="userFormContainer">
    <form [formGroup]="this.form" class="userForm">
        <mat-form-field>
            <input matInput placeholder="Email" [formControlName]="'email'">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password" type="password" [formControlName]="'password'">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Confirm Password" type="password" [formControlName]="'passwordConfirm'">
        </mat-form-field>
        <button mat-raised-button [style]="this.themesService.getButtonPrimaryStyles()" [disabled]="this.form.invalid" (click)="submit()">
            <img src="./assets/icons/icons8-add-user-group-woman-man-50.png" class="embeddedIcon">Create Account
        </button>
    </form>
</div>
