@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
    height: 100%;
}
body {
    min-height: 100%;
    height: 100%;
    margin: 0;
}
.full-height {
    height: 100%;
}
.full-width {
    width: 100%;
}
.flex-container-row {
    display: flex;
    flex-direction: row;
}
.flex-container-col {
    display: flex;
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.justify-evenly {
    justify-content: space-evenly;
}
.align-center {
    align-items: center;
}
.flex-one {
    flex: 1;
}
.flex-two {
    flex: 2;
}
.flex-three {
    flex: 3;
}
.flex-nine {
    flex: 9;
}
span.dirty-note {
    background: yellow;
    padding: 0.5rem;
    margin-left: 1rem;
}
.margin-right {
    margin-right: 2rem;
}

.title {
    font-family: Arial;
    letter-spacing: 1px;
    color: #424242;
    text-align: center;
}

.subtitle {
    font-family: Arial;
    letter-spacing: 1px;
    color: #616161;
}

.nav {
    font-size: 20px;
}
