@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-material.css';
@import '~katex/dist/katex.css';

html {
    height: 100vh;
}

body {
    min-height: 100vh;
    height: 100vh;
    margin: 0;
}

circle {
    stroke: black !important;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-flex-end {
    justify-content: flex-end;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-one {
    flex: 1;
}

.flex-two {
    flex: 2;
}

.flex-three {
    flex: 3;
}

.flex-four {
    flex: 4;
}

.flex-nine {
    flex: 9;
}

.margin-right {
    margin-right: 20px;
}

.margin-left {
    margin-left: 20px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.margin-top {
    margin-top: 20px;
}

.padding-bottom {
    padding-bottom: 5px;
}

mat-sidenav-container.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 920px;
}

mat-sidenav.side-nav {
    display: flex;
    flex-direction: column;
}

mat-toolbar.toolbar {
    justify-content: space-between;
    height: 64px;
}

div.router-outlet-container {
    height: calc(100% - 64px);
    overflow: auto;
    box-sizing: border-box;
    padding: 5px;
}

.title {
    font-family: Arial;
    letter-spacing: 1px;
    color: #424242;
    text-align: center;
    font-weight: 500;
}

.subtitle {
    font-family: Arial;
    letter-spacing: 1px;
    color: #616161;
}

a.nav-item {
    font-size: 18px;
    font-weight: normal;
}

a.nav-item-active {
    background: lightgrey;
}

img.embeddedIcon {
    margin-right: 5px;
    max-height: 20px;
}

img.embeddedIconNoMargin {
    max-height: 20px;
}

div.userFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

form.userForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: gray 1px solid;
    padding: 50px;
}

.padded {
    padding: 10px;
}

.padded-top {
    padding-top: 5px;
}

span.spacer {
    width: 10px;
}

div.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.default-dirty-note {
    box-sizing: border-box;
    padding: 10px;
    margin-left: 20px;
}

.margin-bottom-children > *:not(:last-child) {
    margin-bottom: 20px;
}
