@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~ag-grid/dist/styles/ag-grid.css';
@import '~ag-grid/dist/styles/ag-theme-material.css';

html {
    height: 100%;
}

body {
    min-height: 100%;
    height: 100%;
    margin: 0;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-flex-end {
    justify-content: flex-end;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-one {
    flex: 1;
}

.flex-two {
    flex: 2;
}

.flex-three {
    flex: 3;
}

.flex-four {
    flex: 4;
}

.flex-nine {
    flex: 9;
}

.margin-right {
    margin-right: 2rem;
}

.margin-left {
    margin-left: 2rem;
}

.margin-bottom {
    margin-bottom: 2rem;
}

.margin-top {
    margin-top: 2rem;
}

.padding-bottom {
    padding-bottom: 1em;
}

mat-sidenav-container.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}

mat-sidenav.side-nav {
    display: flex;
    flex-direction: column;
}

mat-sidenav-content.main {
    padding: 1%;
    height: 100%;
}

.title {
    font-family: Arial;
    letter-spacing: 1px;
    color: #424242;
    text-align: center;
    font-weight: 500;
}

.subtitle {
    font-family: Arial;
    letter-spacing: 1px;
    color: #616161;
}

a.nav-item {
    font-size: 18px;
    font-weight: normal;
}

a.nav-item-active {
    background: lightgrey;
}

img.embeddedIcon {
    margin-right: 0.5em;
    max-height: 20px;
}

img.embeddedIconNoMargin {
    max-height: 20px;
}

div.userFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

form.userForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: gray 1px solid;
    padding: 50px;
}

.padded {
    padding: 2em;
}

.padded-top {
    padding-top: 1em;
}

span.spacer {
    width: 1em;
}

div.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Themes (source http://blog.visme.co/color-combinations/) */

.theme-default-button {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.theme-default-dirty-note {
    padding: 0.5rem;
    margin-left: 1rem;
}

.theme-blue-sunset-background-color-primary {
    background-color: #36688D;
}

.theme-blue-sunset-background-color-accent {
    background-color: #F3CD05;
}

.theme-blue-sunset-background-color-warn {
    background-color: #BDA589;
}

.theme-mediterranean-background-color-primary {
    background-color: #595775;
}

.theme-mediterranean-background-color-accent {
    background-color: #F1E0D6;
}

.theme-mediterranean-background-color-warn {
    background-color: #583E2E;
}
